# Access Transformer для NeoForge 1.21.11

public net.minecraft.client.KeyMapping clickCount
public net.minecraft.client.player.KeyboardInput calculateImpulse(ZZ)F
public net.minecraft.client.renderer.RenderPipelines register