# Access Transformer для NeoForge 1.21.11

public net.minecraft.client.KeyMapping clickCount
public net.minecraft.client.player.KeyboardInput calculateImpulse(ZZ)F
public net.minecraft.client.renderer.RenderPipelines register(Lcom/mojang/blaze3d/pipeline/RenderPipeline;)Lcom/mojang/blaze3d/pipeline/RenderPipeline;